
# Archivos de Visual Studio
.vs/

# Carpetas de compilación
bin/
obj/

# Archivos de usuario
*.user
*.suo

# Archivos de configuración local
*.userosscache
*.sln.docstates

# Paquetes NuGet
*.nupkg
*.snupkg
packages/
*.nuget.props
*.nuget.targets

# Logs
*.log

# Archivos generados por herramientas
Generated\ Files/

# Configuración de Rider/JetBrains
.idea/

# Archivos de publicación
publish/

# Archivos de cobertura
*.coverage
*.coveragexml

